<ion-view ng-controller="ClientRegisterCtrl as vm">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h3 class="title">
                    Yes, I donate a Unit of A+
                </h3>
            </div>
            <div class="item">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Phone </span>
                        <input type="tel" placeholder="Phone">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Name">
                    </label>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        My Blood Type
                    </div>
                    <select>
                        <option selected>-- Type --</option>
                        <option>A+</option>
                        <option>B+</option>
                        <option>O+</option>
                        <option>AB+</option>
                        <option>A-</option>
                        <option>B-</option>
                        <option>O-</option>
                        <option>AB-</option>
                    </select>
                </label>
                <button class="button button-block button-positive">
                    Agree
                </button>
            </div>
        </div>
        <toaster-container toaster-options="{'position-class': 'toast-Bottom-center'}"></toaster-container>
    </ion-content>
</ion-view>
